body {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wp-table tr:nth-child(odd) {
  background-color: #fff;
}

.wp-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.wp-table tr {
  border-bottom: 1px solid #ddd;
}

.wp-table th:first-child,
.wp-table td:first-child {
  padding-left: 16px;
}

.wp-table td,
.wp-table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.wp-table th {
  font-weight: bold;
}

.wp-table {
  font-size: 13px !important;
  border: 2px solid rgb(27, 24, 24);
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(218, 78, 78);
  padding: 5px;
}
